<%= provide(:title, @user.email) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
	<% if @user.boards.any? %>
		<ul class="boards">
			<%= render @boards %>
		</ul>
	<% end %>
</p>

<p>
	<%= link_to 'Sign out', signout_path, method: :delete %> |
	<%= link_to 'Add board', new_board_path %> |
	<%= link_to 'Edit', edit_user_path(@user) %>
</p>

